version: "3.8"

services:
  spark-master:
    image: bitnami/spark:latest
    container_name: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./scripts:/opt/spark/scripts
      - ./data:/opt/spark/data
      - ./config:/opt/spark/conf
      - ./logs:/opt/spark/logs

  spark-worker:
    image: bitnami/spark:latest
    depends_on:
      - spark-master
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
    deploy:
      replicas: 3
    volumes:
      - ./data:/opt/spark/data

  spark-history:
    image: bitnami/spark:latest
    container_name: spark-history
    environment:
      - SPARK_MODE=history-server
    ports:
      - "18080:18080"
    volumes:
      - ./logs:/opt/spark/logs
